<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>NoteBook</title>
    <style>
       #logo{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
            font-weight: bold;
            font-style: italic;
        }
        #font{
            font-family: Arial, Helvetica, sans-serif;
        }
        .dropdown-menu {
            min-width: 120px !important;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm sticky-top bg-light">
        <div class="col-sm-10">
            <a class="navbar-brand m-2 text-primary" id = "logo"><i class="bi bi-journal-bookmark-fill"></i> Notebook</a>
        </div>
        <div class="col-sm-2">
            <div class="dropdown">
                <button type="button" id = "dropDownBtn" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-person-circle"></i> Account</button>
                <ul class="dropdown-menu col-sm-2 p-0">
                    <li class="p-1 border-bottom">
                        <a class="dropdown-item text-center text-primary" id = "font" href = "{% url 'educatorHome' %}"><i class="bi bi-house"></i> Home</a>
                    </li>
                    <li class="p-1 border-bottom">
                        <a class="dropdown-item text-center text-primary" id = "font" href = "{% url 'educatorProfile' %}"><i class="bi bi-person-circle"></i> Profile</a>
                    </li>
                    <li class="p-1">
                        <a class="dropdown-item text-center text-danger" id = "font" href = "{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i> Log Out</a>
                    </li>
                </ul>
            </div>        
        </div>    
    </nav>
    <div class="col-sm-12 p-1">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8">
                <h1 class="text-center" id = "font">Welcome {{request.user}}</h1>
            </div>
            <div class="col-sm-2">
                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn shadow text-primary border border-primary"  data-bs-toggle="modal" data-bs-target="#regitserCourseModal"><i class="bi bi-folder-plus"></i> Add a Course</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 p-1">
        <h3 class="p-1 mt-2 border-bottom" id = "font">Educator Dashboard</h3>
        <div class="col-sm-10">
            <div class="modal fade" id="regitserCourseModal" tabindex="-1" aria-labelledby="regitserCourseModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-light">
                            <h5 class="modal-title" id="regitserCourseModalLabel">Register New Course</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method = "post" class="col-sm-12 bg-white">
                            <div class="modal-body" style = "height: 400px; overflow-y: scroll" >
                                {% csrf_token %}
                                <div class = "form-group m-2">
                                    <h1 class="text-danger text-center" id = "font">{{context.message}}</h1>
                                </div>
                                <div class = "form-group m-2">
                                    <label class="form-label" id = "font"><b>Course Name</b></label>
                                    <div class="input-group">
                                        <input type="text" id = "font" class="form-control" name = "course_name" placeholder="Enter the course name (Required)" required/>
                                    </div>
                                </div>
                                <div class = "form-group m-2">
                                    <label class="form-label" id = "font"><b>Course Subject</b></label>
                                    <div class="input-group">
                                        <input type="text" id = "font" class="form-control" name = "course_subject" placeholder="Enter the course subject (Required)" required/>
                                    </div>
                                </div>
                                <div class = "form-group m-2">
                                    <label class="form-label" id = "font"><b>Course Description</b></label>
                                    <div class="input-group">
                                        <textarea type="text" id = "font" class="form-control" name = "course_description" placeholder="Enter the course description" rows="4" style = "overflow-y: scroll" ></textarea>
                                    </div>
                                </div>
                                <div class = "form-group m-2">
                                    <label class="form-label" id = "font"><b>Course Start Date</b></label>
                                    <div class="input-group">
                                        <input type="date" id = "font" class="form-control" name = "start_date" placeholder = "yyyy-mm-dd" required />
                                    </div>
                                </div>
                                <div class = "form-group m-2">
                                    <label class="form-label" id = "font"><b>Course End Date</b></label>
                                    <div class="input-group">
                                        <input type="date" id = "font" class="form-control" name = "end_date" value = "yyyy-mm-dd" required />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer bg-light">
                                <button type="submit" class="btn btn-primary">Create Course</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center m-auto">
                {% if context.courses %}  
                    {% for x in context.courses %}
                        <div class="col-sm-4 m-2 p-0 bg-light border shadow-lg" style="border-radius: 30px;">
                            <div class="d-flex justify-content-center m-auto">
                                <a class="text-decoration-none text-center text-primary h2 p-1" href="{%url 'educatorCourses' x.course_name%}" id = "font">{{x.course_name}}</a>
                            </div>
                            <p class = "p-1 text-center" style = "font-family: Arial, Helvetica, sans-serif; font-size: 20px;">{{x.course_subject}} <br>{{x.start_date}} - {{x.end_date}}</p>                    
                        </div>
                    {% endfor %}
                {% else %} 
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <h1 class="text-center text-primary">You have not added a course yet</h1>
                    </div>
                {% endif %}
        </div>
    </div>
</body>
</html>